.navbar{
    top: 0;
    background-color: rgba(2, 37, 13, 0.89);
    width: 100%; 
     justify-content: space-between;
}

.brand{
    display: flex;
}

.logo{
  margin-left: 10px;    
}

.title{
 margin-left: 10px;   
}

.avatar{
    margin-right: 18px;
    width: 35px;
    height: 35px;
}